* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #555;
}

.title-section {
  display: block;
  height: 9vh;
  justify-content: flex-start;
  margin-left: 5vw;
  margin-top: 5vh;
  border-left: 5px solid #4a70c4e7;
  padding-left: 1%;
  font-family: "Poppins", sans-serif;
  color: #4a70c4e7;
  /* width: 100%; */
}

.title-section h1 {
  font-size: 4rem;
  font-weight: 200%;
}

.title-section h3 {
  font-size: 2rem;
  font-weight: 100%;
}

.main-viz {
  margin: 5vh 2vw 5vh 2vw;
  background-color: aliceblue;
  height: 15vh;
  border-radius: 25px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 2px 5px;
}

.child-viz {
  height: 100%;
  align-items: center;
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.child-viz-section {
  height: 100%;
  width: 45%;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
}

.child-viz-section-text {
  font-size: x-large;
}

.child-viz-section-img {
  width: 75%;
  height: 75%;
  background-size: 100% 100%;
}

#income-img {
  background-image: url("https://cdn-icons-png.flaticon.com/512/4895/4895861.png");
}
#spend-img {
  background-image: url("https://cdn-icons-png.flaticon.com/512/5501/5501391.png");
}
#savings-img {
  background-image: url("https://cdn-icons-png.flaticon.com/512/913/913376.png");
}

.details-viz {
  justify-content: center;
  width: 50%;
  margin-left: 50vh;
}

.details-viz-hdr {
  background-color: aliceblue;
  display: flex;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.details-viz-name {
  flex: 0.9;
  text-align: center;
}

.details-viz-arrow {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 0.2em solid black;
  border-top: 0.2em solid black;
}

.details-viz-tabs {
  height: 6vh;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid white;
}

.details-viz-table {
  background-color: aliceblue;
  padding: 5%;
}

.down {
  top: 5px;
  content: "";
  transform: rotate(135deg);
}

.up {
  top: 10px;
  content: "";
  transform: rotate(-45deg);
}

.hidden {
  display: none;
}

.catg-tabs {
  border: 1px solid cornflowerblue;
  text-align: center;
  color: cornflowerblue;
  padding: 0.5vw;
  border-radius: 15px;
  font-size: larger;
  cursor: pointer;
}

.catg-tabs.active {
  background-color: cornflowerblue;
  color: white;
}

.table-header {
  display: grid;
  border-collapse: collapse;
}

.table-header-cell {
  display: grid;
  background-color: cornflowerblue;
  padding: 0%;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 0%;
  margin: 0%;
  text-align: center;
  font-size: large;
}

.table-detail {
  display: grid;
  border-collapse: collapse;
}

.table-detail-cell {
  display: grid;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 5%;
  margin: 0%;
  text-align: center;
  font-size: small;
  justify-content: center;
}

.single-col {
  grid-template-columns: repeat(2, 50%);
}

.double-col {
  grid-template-columns: repeat(4, 25%);
}

.triple-col {
  grid-template-columns: repeat(6, 16.67%);
}
